{% macro coin_widget(group) %}
    {% for coin in group.coins %}
        <tr id="{{ coin.id }}" class="{% if coin.is_got %}table-success{% endif %}">
            <td>
                {{ coin.year if coin.year }}
            </td>
            <td>
                {% if coin.mint %}
                    <span title="{{ coin.mint.name }}">{{ coin.mint.abbr }}</span>
                {% endif %}
            </td>
            <td>
                {% if coin.description_url %}
                    <a href="{{ coin.description_url }}" target="_blank">
                        {{ coin.name if coin.name else coin.description_url }}
                    </a>
                {% else %}
                    {{ coin.name if coin.name }}
                {% endif %}

            </td>
            <td>
                {{ coin.description if coin.description }}
            </td>
            <td>
                {{ coin.date if coin.date }}
            </td>
            <td>
                {{ coin.num if coin.num }}
            </td>
            <td>
                <form class="form-inline" method="post"
                      action="{{ url_for('main.change_coin_got', coin_id=coin.id) }}">
                    <button type="submit" class="btn btn-link">
                        {% if coin.is_got %}
                            <i class="fas fa-minus fa-fw"></i>
                        {% else %}
                            <i class="fas fa-plus fa-fw"></i>

                        {% endif %}
                    </button>
                    <a href="{{ url_for('main.edit_coin', coin_id=coin.id) }}">
                        <i class="fa fa-pencil-alt fa-fw"></i>
                    </a>
                </form>
            </td>

        </tr>
    {% endfor %}
{% endmacro %}
