{% extends 'base.html' %}

{% block title %}{{ group.shortname }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>{{ group.name }}</h3>
    </div>
    <div class="row">
        <div class="col-11">
            <div class="table-responsive">
                <table class="table  table-striped">
                    <thead>
                    <tr>
                        <th scope="col">
                            Год
                        </th>
                        <th scope="col">
                            Монетный двор
                        </th>
                        <th scope="col">
                            Название
                        </th>
                        <th scope="col">
                            Описание
                        </th>
                        <th scope="col">
                            Дата выпуска
                        </th>
                        <th scope="col">
                            Тираж
                        </th>
                        <th scope="col">
                            Действие
                        </th>
                    </tr>
                    </thead>
                    {% for subgroup in group.children recursive %}
                        <tr>
                            <td colspan="7" align="center">
                                <h6>{{ subgroup.shortname }}</h6>
                            </td>

                            {% if subgroup.children %}
                                <table class="subgroup">{{ loop(item.children) }}</table>
                            {% endif %}
                        </tr>
                        {% for coin in subgroup.coins %}
                            <tr class="{% if coin.is_got %}table-success{% endif %}">
                                <td>
                                    {% if coin.year %}{{ coin.year }} {% endif %}
                                </td>
                                <td>
                                    <span title="{{ coin.mint.name }}">{{ coin.mint.abbr }}</span>
                                </td>
                                <td>
                                    {% if coin.description_url %}
                                        <a href="{{ coin.description_url }}" target="_blank">{{ coin.name }}</a>
                                    {% else %}
                                        {{ coin.name }}
                                    {% endif %}

                                </td>
                                <td>
                                    {{ coin.description }}
                                </td>
                                <td>
                                    {% if coin.date %}{{ coin.date }} {% endif %}
                                </td>
                                <td>
                                    {{ coin.num }}
                                </td>
                                <td>
                                    <form class="form-inline" method="post"
                                          action="{{ url_for('main.change_coin_got', coin_id=coin.id) }}">
                                        <button type="submit" class="btn btn-link">
                                            {% if coin.is_got %}
                                                <i class="fas fa-minus fa-fw"></i>
                                            {% else %}
                                                <i class="fas fa-plus fa-fw"></i>

                                            {% endif %}
                                        </button>
                                        <a href="{{ url_for('main.edit_coin', coin_id=coin.id) }}">
                                            <i class="fa fa-pencil-alt fa-fw"></i>
                                        </a>
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="col-1" style="">
            <a href="{{ url_for('main.add_coin', group_id=group.id) }}"><i class="fas fa-plus-circle fa-3x"></i></a>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#{{group.id}}").addClass("active");
        })
    </script>
{% endblock %}